<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Settings</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <style>
          input[type="checkbox"] {
            appearance: none;
            border: 1px white solid;
            padding: 2px;
            border-radius: 2px;
            width: 16px;
            height: 16px;
            margin: 0 1em;
            transition: 200ms ease;
          }

          input[type="checkbox"]:checked {
            background-color: #993e8b;
          }
        </style>
    </head>

<body class="bg-black">

      <!--Loading screen-->
      <div id="loader"> 
        <img src="static/res/loading.svg" class="w-[7rem] h-[7rem]" />
    </div>
      <div id="background"></div>
<section class="h-[100vh] w-[100vw]">
    <div class="p-4 pr-8 flex items-center bg-[#110A10] relative" style="z-index:1000;">
        <div class="flex text-white items-center justify-center w-[4rem] hamDesign">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <span class="font-[Silkscreen] text-white text-2xl md:text-3xl ml-2 cursor-pointer" onclick="window.location.href='index.html';">HackTV</span>

        <div class="flex items-center justify-center ml-16">
            <input type="text" id="searchbox" placeholder="Search" class="pl-4">
            <button class="bg-[#303030] h-[2.5rem] px-2 z-2" id="searchbutton">
                <i class="fas fa-search text-white text-xl"></i>
            </button>
        </div>

        <div class="ml-auto">
            <a href="/login" class="flex items-center activeButton">
                <div class="bg-[#2a0d4f] text-black p-1.5 px-2 rounded-lg">
                    <span class="text-lg text-white font-semibold">⌘</span>
                </div>
                <span class="text-lg font-semibold p-2">  Login With Slack</span>
            </a>
        </div>
    </div>

    <div class="flex flex-row justify-start w-full bg-[]">
      <!-- Sidebar -->
      <div class="w-[9rem] h-auto relative hidden pt-8 lg:flex flex-col items-start pl-4 ml-0" id="menu">
          <a class="menuItem" href="/">
              <i class="fas fa-home text-white text-xl"></i>
              <span class="text-white text-lg font-[Varela]">Home</span>
          </a>

          <a class="menuItem" href="/explore">
              <i class="fas fa-compass text-white text-xl"></i>
              <span class="text-white text-lg font-[Varela]">Explore</span>
          </a>

          <a class="menuItem" href="/history">
              <i class="fas fa-clock-rotate-left text-white text-xl"></i>
              <span class="text-white text-lg font-[Varela]">History</span>
          </a>

          <a class="menuItem selected" href="/settings">
              <i class="fas fa-gear text-white text-xl"></i>
              <span class="text-white text-lg font-[Varela]">Settings</span>
          </a>
      </div>

      <div class="mainContent w-full h-full flex flex-col items-center justify-center">
            <h1 class="font-[Silkscreen] text-3xl underline text-white mb-4">Settings</h1>

            <!--All the preferences -->
            <hr class="text-[#303030] bg-[#303030] border-2 border-[#303030] my-8" height="2px" width="100%">
            <h3 class="font-[Silkscreen] text-2xl text-white mb-4 underline">Preferences</h3>
            <div class="flex flex-col justify-center items-center w-full h-auto p-4" id="preferences">
              <div class="flex flex-row jusitify-center items-center">
              <p class="text-white text-lg font-[Varela]">Disable Background dots</p>
                <label class="switch">
                  <input type="checkbox" checked="true">
                  <span class="slider"></span>
                </label>
              </div>

              <div class="flex flex-row jusitify-center items-center">
              <p class="text-white text-lg font-[Varela]">Disable dot animation</p>
                <label class="switch">
                  <input type="checkbox" checked="true">
                  <span class="slider"></span>
                </label>
              </div>

              <div class="flex flex-row jusitify-center items-center">
                <p class="text-white text-lg font-[Varela]">Disable ads<span class="text-[#555555]"> (Hey! they are fun!)</span></p>
                <label class="switch">
                  <input type="checkbox" checked="true">
                  <span class="slider"></span>
                </label>
              </div>


              <div class="flex flex-row jusitify-center items-center">
              <p class="text-white text-lg font-[Varela]">Disable Comments/Chats</p>
                <label class="switch">
                  <input type="checkbox" checked="true">
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          <!--Visibility-->
            <hr class="text-[#303030] bg-[#303030] border-2 border-[#303030] my-8" height="2px" width="100%">
            <h3 class="font-[Silkscreen] text-2xl text-white mb-4 underline">Visibility</h3>
            <div class="flex flex-col justify-center items-center w-full h-auto p-4" id="visibility">
              <div class="flex flex-row jusitify-center items-center">
              <p class="text-white text-lg font-[Varela]">Anonymous commenting</p>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider"></span>
                </label>
              </div>


              <!-- Comments/chat setting is here twice -->
              <!-- 
              <div class="flex flex-row jusitify-center items-center">
              <p class="text-white text-lg font-[Varela]">Disable Comments/Chats</p>
                <label class="switch">
                  <input type="checkbox" checked="true">
                  <span class="slider"></span>
                </label>
              </div> -->
            </div>
      </div>
    </div>
    </div> <!-- The 18th out of 17 -->
</section>


<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/dots.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/loading.js') }}"></script>


<script>
    const searchButton = document.getElementById('searchbutton');
    const searchQuery = document.getElementById('searchbox');

    searchButton.addEventListener('click', () => {
        const query = searchQuery.value.trim();
        if (query) {
            window.location.href = `/search/${query}`;
        }
    });

    searchQuery.addEventListener('keypress', (e) => {
        if (e.key === 'Enter') {
            const query = searchQuery.value.trim();
            if (query) {
                window.location.href = `/search/${query}`;
            }
        }
    });
    /* not done yet I need to change things... */
    // const labelSettings = document.querySelectorAll(".switch")
    // // console.log(labelSettings[])

    // document.querySelectorAll("input[type='checkbox']").forEach(element => {
    //   element.addEventListener("input", () => {
    //   for (let element of labelSettings) {
    //   console.log(element.parentNode.innerText)
    //   if (!element.childNodes[1].checked) {
    //     element.parentNode.innerText.replace(/\b(Enable|Disable)\b/g, (match) => {
    //         return match === "Enable" ? "Disable" : "Enable"
    //     })
    //   }
    // }
    // })
    // });
    
    
</script>


</body>
</html>
