{% extends 'base.html' %}
{% block title %}HackTV - Settings{% endblock %}

{% block sidebar_selected %}
<div class="hidden" id="sidebar_selected">settingsContainer</div>
{% endblock %}

{% block content%}
      <div class="mainContent w-full h-full flex flex-col items-center justify-center">
            <h1 class="font-[Silkscreen] text-3xl underline text-white mb-4">Settings</h1>

            <!--All the preferences -->
            <hr class="text-[#303030] bg-[#303030] border-2 border-[#303030] my-8" height="2px" width="100%">
            <h3 class="font-[Silkscreen] text-2xl text-white mb-4 underline">Preferences</h3>
            <div class="flex flex-col justify-center items-center w-full h-auto p-4" id="preferences">
              <div class="flex flex-row jusitify-center items-center">
                
                <label class="switch text-white text-lg font-[Varela]">Background dots <span class="status-feature">enabled</span>
                  <input type="checkbox" class="checkbox" checked="true">
                  <span class="slider"></span>
                </label>
              </div>

              <div class="flex flex-row jusitify-center items-center">
                
                <label class="switch text-white text-lg font-[Varela]">Dot animation <span class="status-feature">enabled</span>
                  <input type="checkbox" class="checkbox" checked="true">
                  <span class="slider"></span>
                </label>
              </div>

              <div class="flex flex-row jusitify-center items-center">
                
                <label class="switch text-white text-lg font-[Varela]">Ads <span class="status-feature">enabled</span> <span class="text-[#555555]"> (Hey! they are fun!)</span>
                  <input type="checkbox" class="checkbox" checked="true">
                  <span class="slider"></span>
                </label>
              </div>


              <div class="flex flex-row jusitify-center items-center">
                
                <label class="switch text-white text-lg font-[Varela]">Comments/Chats <span class="status-feature">enabled</span>
                  <input type="checkbox" class="checkbox" checked="true">
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          <!--Visibility-->
            <hr class="text-[#303030] bg-[#303030] border-2 border-[#303030] my-8" height="2px" width="100%">
            <h3 class="font-[Silkscreen] text-2xl text-white mb-4 underline">Visibility</h3>
            <div class="flex flex-col justify-center items-center w-full h-auto p-4" id="visibility">
              <div class="flex flex-row jusitify-center items-center">

                
                <label class="switch text-white text-lg font-[Varela]">Anonymous commenting
                  <input type="checkbox" class="checkbox">
                  <span class="slider"></span>
                </label>
              </div>
            </div>
      </div>
{% endblock %}


{% block script%}
<script>
    const labelSettings = document.querySelectorAll(".switch")
    labelSettings.forEach(element => {
      if (element.innerHTML.includes("enabled") || element.innerHTML.includes("disabled")){  
        element.querySelector("input").addEventListener("input", () => {
          element.querySelector(".status-feature").innerText = {"true": "enabled", "false": "disabled"}[element.querySelector("input").checked]
        })
      }
    });
</script>
{% endblock %}
